body{
  background-color: rgb(89, 194, 131);
}
nav{
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}
span {
  color: brown;
}
.home{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  height: 500px;
  background-image: url("../images/eating_together.png");
  background-size: 700px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: center;
}
.description{
  position: relative;
  top: 100px;
  max-width: 800px;
  margin-left: 650px;
  text-align: center;
}
h3{
  text-align: center;
}
.section{
  background-color: rgb(104, 103, 103);
}
.recipe {
  display: flex;
  justify-content: space-around;
}
.recipe1{
  height: 300px;
  width: 300px;
  margin: 5px;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  border-radius: 0 0 20% 20%;
}
fieldset>label{
  width: 200px;
}
.orders{
  background-color: plum;
  margin-top: 10px;
  /* text-align: center; */
}
.form-control{
  width: 300px;
}
#delivery-location{
  display: flex;
  display: none;
  justify-content: space-around;
}
.flexed{
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}
.card{
  background-color: transparent;
}
#delivery-plan{
  margin-top: 10px;
  background-image: url("../images/background/delivery.jpg");
  color: rgb(0, 0, 0);
}
#your-order{
  margin-top: 10px;
  background-color: plum;
  color: aliceblue;
  height: 200px;
}
footer{
  display: flex;
  justify-content: space-around;
  background-color: rgb(54, 164, 98);
  margin-top: 25px;
  text-align: center;
  color: white;
}
#follow{
  display: flex;
}
#first{
  padding-top: 60px;
}
#second{
  margin: 20px;
  border-left: 3px dashed #4C9BA0;
  padding-left: 30px;
  text-align: left;
}
#contacts>p, #description>p{
  margin: 0;
}
#rights{
  background-color: rgb(54, 164, 98);
  margin-top: 0;
  color: white;
  text-align: center;
}
